{
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    },
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-use-before-define": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": [
            "error"
        ],
        "@typescript-eslint/no-use-before-define": [
            "error"
        ],
        "max-len": ["warn", { "code": 120 }]
    }
}